{% extends "beforeloginbase.html" %}

{% block title %}Grumblr - verify email{% endblock %}
{% block form %}
{% if form %}
    <form class="form-signin" action="{% url 'forget' %}" method="POST">
      <h2 class="form-signin-heading">Please input your username!</h2>
      <h3 class="form-signin-heading" style = "color:#f75252">{% for err in form.non_field_errors %}{{err}}{% endfor %}</h3>
      {% for field in form.visible_fields %}
      <h3 class="form-signin-heading" style = "color:#f75252">{{field.errors}}</h3>
      {{field}}
      {% endfor %}
      <label><a href="{% url 'registration' %}">New user? Click here to join us!</a></label>
      <p class="lead">
        <button class="btn btn-lg btn-default" name="btn-forget" value="btn-submit">Submit</button>
      </p>
      {% csrf_token %}
    </form>
    {% endif %}
    {% if text %}
    <h2 class="form-signin-heading">
    {{text}}

    </h2>
    {% endif %}
{% endblock %}
