{% extends "afterloginbase.html" %}
{% block title %}Grumblr - global stream{% endblock %}
{% block nav %}
<li><a href="{% url 'global' %}">Global</a></li>
<li class="active"><a href="{% url 'following' %}">Following</a></li>
<li><a href="{% url 'homepage' user.username %}">Homepage</a></li>
{% endblock %}
{% block jumbotron %}
  	<div class="jumbotron">
      <div class="container">
        <h2 class="display-3">Welcome to grumblr!</h2>
        <h3 class="display-3">See who you are following here!</h3>

      </div>
    </div>
{% endblock %}
{% block content%}
    <div class="row">
      <div class="col-sm-3 col-sm-offset-1 no-float sidebar-offcanvas"  id="sidebar" >
        <div class="list-group">
          <a class="list-group-item list-group-item-action">Users you are following:</a>
          {% for follow in follows %}
            <a href="{% url 'homepage' follow.username %}" class="list-group-item list-group-item-action list-group-item-danger">{{follow.username}}</a>
          {% endfor %}
          </div>
        </div><!--/.sidebar-offcanvas-->
<div class="col-sm-7">
    <ol id="post-list"></ol>
</div>
</div>

{% endblock %}
{% block script %}
{% load static %}
  <script src="{% static 'grumblr/js/following.js' %}" type="text/javascript"></script>
{% endblock %}
