{% extends "afterloginbase.html" %}
{% block title %}Grumblr - change password{% endblock %}
{% block content %}
<div class="row">
<div class="col-sm-4 col-sm-offset-4">
    <form class="form-signin" action="{% url 'change_password' user.username %}" method="POST">
      <table align="center">
      <tr><td align="center"><h2 class="form-signin-heading">Change password</h2></td></tr>
      <tr><td align="center"><h3 class="form-signin-heading" style = "color:#f75252">{% for err in form.non_field_errors %}{{err}}{% endfor %}</h3></td></tr>
      {% for field in form.visible_fields %}
      <tr><td align="center"><h3 class="form-signin-heading" style = "color:#f75252">{{field.errors}}</h3></td></tr>
      <tr><td align="center">{{field}}</td></tr>
      {% endfor %}
        <tr><td align="center"><br><button class="btn btn-lg btn-default" name="btn-profile" value="btn-profile">Submit</button></td></tr>
      {% csrf_token %}
    </form>
  </div>
</div>
{% endblock %}



  </body>
  </html>
